@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}